<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.base.dao.ContactMapper">

    <sql id="TABLE">t_contact</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.base.entity.Contact">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday"/>
        <result property="phone" column="phone"/>
        <result property="remark" column="remark"/>
        <result property="figureId" column="figure_id"/>
        <result property="contactTypeId" column="contact_type_id"/>
        <result property="headImg" column="head_img"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="state" column="state_flag"/>
    </resultMap>
    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (name,birthday,phone,remark,figure_id,contact_type_id,head_img,create_time,update_time,user_id,state_flag)
        VALUES
        (#{entity.name},#{entity.birthday},#{entity.phone},#{entity.remark},#{entity.figureId},#{entity.contactTypeId},#{entity.headImg},#{entity.createTime},#{entity.updateTime},#{entity.userId},#{entity.state})
    </insert>

    <insert id="update" parameterType="com.dabo.xunuo.base.entity.Contact">
        UPDATE
        <include refid="TABLE"/>
        SET name=#{name},
        birthday=#{birthday},
        phone=#{phone},
        remark=#{remark},
        figure_id=#{figureId},
        contact_type_id=#{contactTypeId},
        head_img=#{headImg},
        update_time=#{updateTime},
        user_id=#{userId}
        WHERE id=#{id}
    </insert>

    <insert id="setState">
        UPDATE
        <include refid="TABLE"/>
        SET state_flag=#{state},update_time=#{updateTime}
        WHERE id=#{contactId}
    </insert>

    <select id="getById" resultMap="DATA">
        SELECT *
        FROM
        <include refid="TABLE"/>
        WHERE id=#{keyId}
    </select>

    <delete id="delete">
        DELETE
        FROM
        <include refid="TABLE"/>
        WHERE id=#{keyId}
    </delete>

    <select id="getListByIds" resultMap="DATA">
        SELECT *
        FROM
        <include refid="TABLE"/>
        WHERE id IN
        <foreach item="item" index="index" collection="keyIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAllByUser" resultMap="DATA">
        SELECT *
        FROM
        <include refid="TABLE"/>
        WHERE user_id =#{userId} and state_flag=#{state}
    </select>

</mapper>