<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.base.dao.UserEventClassMapper">

    <sql id="TABLE">t_event_class</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.base.entity.UserEventClass">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="sourceType" column="source_type"/>
        <result property="userId" column="user_id"/>
        <result property="sortIndex" column="sort_index"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="classType" column="type_class"/>
        <result property="bigDayFlag" column="bigday_flag"/>
    </resultMap>

    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (user_id,name,source_type,sort_index,update_time,create_time,bigday_flag,type_class)
        VALUES
        (#{entity.userId},#{entity.name},#{entity.sourceType},
        #{entity.sortIndex},#{entity.updateTime},#{entity.createTime},#{entity.bigDayFlag},#{entity.classType})
    </insert>

    <select id="getEventClassByUser" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
        ORDER BY ${field} ${direction}
        <if test="rowBounds!=null">
            LIMIT #{rowBounds.offSet}, #{rowBounds.limit}
        </if>
    </select>

    <select id="getMaxSortIndex" resultType="Integer">
        SELECT max(sort_index)
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
    </select>

    <select id="countByUser" resultType="Integer">
        SELECT count(*)
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
    </select>

    <select id="getById" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        WHERE id=#{keyId}
    </select>

    <select id="getListByIds" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        WHERE id IN
        <foreach item="item" index="index" collection="keyIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="delete">
        DELETE
        FROM <include refid="TABLE"/>
        WHERE id=#{keyId}
    </delete>
</mapper>