<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <!--跨域过滤器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="com.dabo.xunuo.web.filter.CorsFilter"/>
        </mvc:interceptor>

        <!--请求统计过滤器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/admin/**"/>
            <bean class="com.dabo.xunuo.web.filter.RequestStatisFilter"/>
        </mvc:interceptor>

        <!--解析过滤器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/admin/**"/>
            <bean class="com.dabo.xunuo.web.filter.RequestParseFilter"/>
        </mvc:interceptor>

        <!--签名检查过滤器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/admin/**"/>
            <bean class="com.dabo.xunuo.web.filter.SignVerifyFilter"/>
        </mvc:interceptor>

        <!--权限检查过滤器-->
        <mvc:interceptor>
            <mvc:mapping path="/user/**" />
            <mvc:mapping path="/note/**"/>
            <mvc:mapping path="/event/**"/>
            <mvc:mapping path="/contact/**"/>
            <bean class="com.dabo.xunuo.web.filter.LoginFilter"/>
        </mvc:interceptor>

    </mvc:interceptors>

    <context:component-scan base-package="com.dabo.xunuo.web.controller" />

</beans>