<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.dao.ContactFigureMapper">

    <sql id="TABLE">t_contact_figure</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.entity.ContactFigure">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="headUrl" column="head_url"/>
        <result property="sortIndex" column="sort_index"/>
    </resultMap>

    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (name,head_url,sort_index)
        VALUES
        (#{entity.name},#{entity.headUrl},#{entity.sortIndex})
    </insert>

    <select id="getAllFigure" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        ORDER BY id ASC
    </select>

    <delete id="delete">
        DELETE FROM <include refid="TABLE"/>
        WHERE id=#{keyId}
    </delete>
</mapper>