<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.dao.ContactTypeMapper">

    <sql id="TABLE">t_contact_type</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.entity.ContactType">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="sourceType" column="source_type"/>
        <result property="userId" column="user_id"/>
        <result property="sortIndex" column="user_id"/>
        <result property="createTime" column="sort_index"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (name,source_type,user_id,sort_index,create_time,update_time)
        VALUES
        (#{entity.name},#{entity.sourceType},#{entity.userId},#{entity.sortIndex},#{entity.createTime},#{entity.updateTime})
    </insert>

    <select id="getContactTypeByUser" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
        ORDER BY ${field} ${direction}
        <if test="rowBounds!=null">
            LIMIT #{rowBounds.offSet}, #{rowBounds.limit}
        </if>
    </select>

    <select id="getMaxSortIndex" resultType="Integer">
        SELECT max(sort_index)
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
    </select>

    <select id="countByUser" resultType="Integer">
        SELECT count(*)
        FROM <include refid="TABLE"/>
        WHERE user_id=#{userId}
        AND source_type = #{sourceType}
    </select>

</mapper>