<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.dao.ContactTypeMapper">

    <sql id="TABLE">t_contact_type</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.entity.ContactType">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="source_type" column="source_type"/>
        <result property="user_id" column="user_id"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>


    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (name,source_type,user_id,create_time,update_time)
        VALUES
        (#{entity.name},#{entity.source_type},#{entity.user_id},#{entity.create_time},#{entity.update_time})
    </insert>
     <select id="getContactTypeListbyuser" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        where (user_id=#{userId} or source_type=0)
                <if test="orderkey!=null">
               order by ${orderkey} desc </if>
    </select>

   

</mapper>