<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabo.xunuo.dao.UserMapper">

    <sql id="TABLE">t_user</sql>

    <resultMap id="DATA" type="com.dabo.xunuo.entity.User">
        <id property="id" column="id" />
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="entity.id">
        INSERT INTO
        <include refid="TABLE"/>
        (phone,create_time)
        VALUES
        (#{entity.phone},#{entity.createTime})
    </insert>

    <select id="getByPhone" resultMap="DATA">
        SELECT *
        FROM <include refid="TABLE"/>
        where phone=#{phone}
    </select>
</mapper>